<h2>My Heroes</h2>
<div class='heroes'>
    <div 
        *ngFor='let hero of heroes'
        class='hero-container'
    >
        <a routerLink='/detail/{{ hero.id }}'>
            <span class='badge'>{{ hero.id }}</span>
            {{ hero.name }}
        </a>
        <button 
            (click)='deleteHero(hero)'
            class='delete'
        >x</button>
    </div>
    <label>
        Hero name:
        <input #heroName />
    </label>
    <button (click) = "addHero(heroName.value); heroName.value=''">add Hero</button>
</div>
