.heroes{
    margin: 0 0 2em 0;
    padding: 0;
    width: 15em;
}

.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}
.hero-container button {
    height: 50%;
    align-self: center;
    cursor: pointer;
}

.heroes a {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    color: gray;
    background-color: #eee;
    margin: .5em;
    height: 2.5em;
    border-radius: 4px;
    text-decoration: none;
    width: 100%;
}

.heroes a:hover {
    color: #607D8B;
    background-color: #DDD;
}

.heroes .badge {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    color: white;
    background-color: #607D8B;
    height: 100%;
    width: 20%;
    margin-right: .8em;
    border-radius: 4px;
}
