<div *ngIf='hero' class='details'>
    <h2>{{ hero.name | uppercase }} Details</h2>

    <div class='id'>
        <span>id: </span>
        {{ hero.id }}
    </div>
    <div class='name'>
        <span>
            name:
        </span>
        <input [(ngModel)]='hero.name' placeholder='name'>
    </div>
    <button (click)='save()'>save</button>
    <button (click)='goBack()'>Go Back</button>
</div>
