.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.id, .name {
    margin-bottom: 20px;
}
.details span {
    font-size: larger;
}

.name input{
    padding: 15px;
}

button {
    padding: 5px;
    cursor: pointer;
}
