h1 {
    text-align: left;
}

nav {
    text-align: left
}

a {
    text-decoration: none;
    color: white;
    background-color: gray;
    min-width: 40px;
    min-height: 20px;
    padding: 10px;
    margin: 10px;
}
a:hover{
    background-color: white;
    color: gray;
}

