a {
    text-decoration: none;
}

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.module-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #607d8b;
    min-height: 120px;
    min-width: 120px;
    color: white;
    border-radius: 4px;
}

.module-hero:hover{
    color: #607d8b;
    background-color: white;
    cursor: pointer;
}
