<div>
    <h4>Hero Search</h4>
    <input 
        #searchBox
        (keyup)='search(searchBox.value)'
    />
    <div class='search-result'>
        <div *ngFor='let hero of heroes$ | async'>
            <a routerLink='/detail/{{ hero.id }}'>
                {{ hero.name }}
            </a>
        </div>
    </div>
</div>
